{% extends "_layout" %}

{% block content %}
        <main data-view="main">
{% if entry.contentBlock | length > 0 %}

{% include '_common/_block' with { content: entry.contentBlock } only %}
{% endif %}

        </main>
{% endblock %}
