// Brand
$primary: null !default;
$secondary: null !default;
$accent: null !default;

// Neutrals
$white: #ffffff !default;
$black: #000000 !default;
$grey-100: #f7f7f7 !default;
$grey-200: #eeeeee !default;
$grey-300: #dddddd !default;
$grey-400: #cccccc !default;
$grey-500: #999999 !default;
$grey-600: #666666 !default;
$grey-700: #444444 !default;
$grey-800: #333333 !default;
$grey-900: #111111 !default;

// Functional
$background: $white !default;
$foreground: $grey-900 !default;