$height: 4rem !default;         // 64px
$height-mobile: 3.5rem !default; // 56px
$z-index: 1000 !default;
$background: #ffffff !default;
$link-color: inherit !default;
$link-active-color: null !default;