        <footer class="footer">

            <div class="footer__container">

                <nav class="footer__nav">

                    &copy; {{ now|date('Y') }} {{ siteName }}

                </nav>

            </div>

        </footer>