<!doctype html>

<html lang="en">

{% include '_meta' %}

    <body id="content">

{% include '_header' %}

{% block content %}
{% endblock %}

        <script async defer src="/cms/js/app.js"></script>

    </body>

</html>
