{% extends "_layout" %}

{% block content %}
        <main data-view="main">

            <section>
                Body Content
            </section>

{% include '_footer' %}

        </main>
{% endblock %}
